/* we have some footer css code in the index.css file  */



h6{
  color: var(--main-color);
  font-size: 24px !important;
}

p a:hover{
  color: var(--main-color) !important;
}
.jihad:hover{
  color: var(--main-color) !important;
  border: 1px solid var(--orange-color);
  background-color: var(--orange-color);
  border-radius: 5px;
  padding: 3px 7px;
  transition: .5s ease-in-out all ;
  margin-left: 1px;
}





































