.news{
    margin-top: 420px;
    display: block;
    margin-left: 20% !important;
    /* margin-right: auto !important; */
    width: 50% !important;
  }
  .news h4{
    font-size: 25px !important;
    font-weight: 500;
    color: var(--orange-color);
    background-image: url(https://images.unsplash.com/photo-1670669382291-f96e6f636084?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIwfHFQWXNEenZKT1ljfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: repeat;
  background-size:auto;
  width: 138px !important;
  }
  .news h2{
    font-size: 50px;
    font-weight: 700;
    color: var(--main-color);
    margin-left: -16%;
    margin-top: 10px;
  }

  @media only screen and (max-width: 1125px) and (min-width: 1025px){
    div .news h2{
    margin-left: -120px !important;

    }
  }
  
 @media only screen and (max-width: 1024px) and (min-width: 992px){  
    div .news h4{
        margin-left: -16% !important;
      }
      .news{
        margin-left: 35px !important;
        /* margin-right: 90% !important; */
    /* width: 50% !important; */
    display: flex;
    flex-direction: column;
    align-items: center;
      }
  } 
  @media only screen and (max-width: 991px) and (min-width: 768px){  
  .news{
    margin-top: 110px;
    margin-bottom: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50% !important;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  div .news h2{
    margin-left: 0px !important;
    margin-bottom: -90px !important;
    margin-top: -10px !important;
  }
  } 
  @media only screen and (max-width: 787px){
    div .news h2{
      font-size: 44px;
      margin-bottom: 10px !important;
      margin-top: -10px !important;
    }
    div .news h2{
      margin-bottom: -80px !important;
    }
  }
  @media only screen and (max-width: 767px) and (min-width: 632px){
    .news{
      margin-top: 110px;
      margin-bottom: 10px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      width: 50% !important;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
    }
    div .news h2{
      margin-left: 0px !important; 
      margin-bottom: 20px !important; 
      margin-top: -10px !important;
    }
    div .news h4{
      margin-bottom: 15px !important;
    }
  }
  /* @media only screen and (max-width: 767px) and (min-width: 632px){ 
    .news{
      margin-bottom: 30px !important;
    }
  } */
  
    @media only screen and (max-width: 693px) and (min-width: 632px){
    div .news h2{
      font-size: 40px;
      margin-top: 0px !important;
      
    }
  }
  
  @media only screen and (max-width: 631px){
    .news{
      margin-top: 110px;
      margin-bottom: 10px !important;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
    }
    div .news h2{
      margin-left: 0px !important; 
      margin-bottom: 20px !important; 
      margin-top: -10px !important;
      font-size: 32px;
    }
    div .news h4{
      margin-bottom: 15px !important;
      font-size: 20px !important;
      width: 110px !important;
    }
}
@media only screen and (max-width: 508px){
  div .news h2{
    font-size: 26px;
  }
  div .news h4{
    font-size: 17px !important;
    width: 100px !important;
  }
}

@media only screen and (max-width: 416px){
  div .news {
      
      margin-top: 30px;
  }
  div .news h2{
    font-size: 22px;
  }
  div .news h4{
    font-size: 15px !important;
    width: 86px !important;
  }
}
@media only screen and (max-width: 355px){
 
  div .news h2{
    font-size: 18px;
  }
  div .news h4{
    font-size: 13px !important;
    width: 75px !important;
  }
}

  

  
 
