.slider{
    margin-left: 50%;
    margin-right: 50%;
    margin-top: -285px;
    background-color: #e6dada;
    border-radius: 10px;
    padding-bottom: 10px;
    max-width: 100%;
    width: 500px !important;
    height: auto;
}
.slider .rounded-lg{
    border-radius: 10px 10px 0 0;
    /* width: 500px !important; */
    height: auto;

}
@media only screen and (max-width: 991px) and (min-width: 768px){  
    .slider{
      margin-top: 110px;
    width: 100% !important;
    height: auto;
    margin-left: 0px !important;

    }
    .slider .rounded-lg{
        border-radius: 10px 10px 0 0;
        height: auto;
        width: 100% !important;
    }
    }

  @media only screen and (max-width: 767px){
    .slider{
        margin-top: 0px;
      width: 100% !important;
      height: auto;
      margin-left: 0px !important;
  
      }
      .slider .rounded-lg{
          border-radius: 10px 10px 0 0;
          height: auto;
          width: 100% !important;
      }
      }
  @media only screen and (max-width: 444px){
    .dr-bx1 span {
        display: inline;
        padding-top: 11px;
        margin-left: 70px !important;
        color: var(--orange-color);
        font-weight: 600;
    }
  }


.drjihad {
    width: 50px !important;
    height: auto !important;
    border-radius: 50%;
    margin-left: 10px;
}
.dr-bx1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
padding-right: 30px;    
}
.dr-bx1 span {
    display: inline;
    padding-top: 11px;
    margin-left: 150px;
    color: var(--orange-color);
    font-weight: 600;
}
 .dr-bx1 p{
    display: inline;
    padding-top: 11px;
    margin-left: 7px;
    color: var(--orange-color);
    font-weight: 600; 
} 
/* marwan */
.drmarwan {
    width: 50px !important;
    height: auto !important;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: -7px !important;
}


/* mustefa */
.drmustefa {
    width: 50px !important;
    height: auto !important;
    border-radius: 50%;
    margin-left: 10px;
}



/* ihsan */
.drihsan {
    width: 50px !important;
    height: auto !important;
    border-radius: 50%;
    margin-left: 10px;
}


/* adrees */
.dradrees {
    width: 50px !important;
    height: auto !important;
    border-radius: 50%;
    margin-left: 10px;
}

.newsbtn{
    
    background-color: var(--orange-color) !important;
    border: 1px solid var(--orange-color) !important;
    width: 135px;
    color: #fff ;
    text-transform: uppercase;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 7px !important;
    transition: .3s ease-in-out ;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.newslink{
    color: var(--main-color);
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 6px;
    margin-left: 6px;
    font-size: 14px;
    transition: .9s ease all;
    color: var(--main-color);
    }
    .newsbtn:hover {
        background-color: var(--main-color) !important;
        border: 1px solid var(--main-color) !important;

    }
    .newsbtn:hover .newslink{
       color: var(--orange-color);
    }
    h4{
        color: var(--main-color);
        font-weight: 600;
        width: 100% !important;
        margin-top: 10px !important;
    }
















