* {
    outline: none;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    position: relative;
    margin-bottom: -40px;
}
.container ul{
    display: flex;
    flex-wrap: wrap;
    margin: 30px  -20px;
    
   
}

.container ul li{
    display: inline-flex;
    padding: 0 10px;
    margin-bottom: 20px;   
    list-style: none;
}

.container ul li .img2{
    width: 430px;
    border-radius: 60px 0 60px 60px;
    margin-top: 60px;
   display: block;
   margin-left: auto;
   margin-right: auto;
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.about-squire{
    top: 50%;
    right: 7%;
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    animation: moveupdown 8s infinite alternate;
}
.about-squire2{
    left: 60%;
    left: 80%;
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    animation: moveupdown 8s infinite alternate;
}




div .about-box1 h2{
    color: var(--main-color);
    font-weight: 700;
    font-size: 40px;
}

h4{
font-size: 22px !important;
color: var(--orange-color);
}

.list-group .list1 svg{
   width: 60px;
   height: 60px;
   margin-right: 10px;
   padding-left: 10px;
   background-color: #ECFCFF;
   border-radius: 8px 30% 30% 8px;


}
.list-group .list1{
    display: flex;
    justify-content: space-between;
}



.list-group .list1 h2{
    font-size: 16px;
   border: 1px solid #B2F0FB;
   width: 45%;
   padding: 0px 25px 0px 0px ;
   border-radius: 10px;
}
.list-group .list2 h2{
    font-size: 16px;
   border: 1px solid #FFDBDB;
   padding-right: 20px;
   width: 45%;
   padding: 0px 25px 0px 0px ;
   border-radius: 10px;

}
.list-group .list2 svg{
    width: 60px;
   height: 60px;
   margin-right: 10px;
   padding-left: 10px;
   background-color: #FFDBDB;
   border-radius: 8px 30% 30% 8px;
}
.list-group .list2{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.list-group .list2:last-child{
    margin-left: 1px;
}


@keyframes moveupdown 
  {
    0%{
        transform:rotate(45deg)
    }
    100%{
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px){  
    .container ul li .img2{
    width: 320px;
    max-width: 100%;
    height: auto;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: -140px;
}
} 

   

   






@media screen and (max-width: 767px){
 
    .about-box1{
        margin-top: -120px;
    }
   
    .images{
        display: flex;
        justify-content: center;
        align-items: center !important;
    
    }
    .list-group .list1 h2{
        font-size: 14px;
    }
   .list-group .list2 h2{
        font-size: 14px;
    }
   
   
.about-squire{
    margin-top: -35px;
    z-index: -2;
}
.about-squire2{
    margin-top: -35px;

}



}
@media screen and (max-width: 530px){
    .container ul li .img2{
       width: 250px;
       height: auto;
       max-width: 100%;
    }
    div .about-box1 h2{
        font-size: 28px ;
    }
    
    .list-group .list1{
        display: inline;
        
    }
    .list-group .list2{
        display: inline;
    }
    .list-group .list1 h2{
        width: 100%;
    }
    .list-group .list2 h2{
        width: 100%;
    }
}
